# Python cache
*.pyc
__pycache__/

# IDEA
.idea/

# Virtual environments
env/
venv/

# Private environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Tensorboard
launch_tensorboard.bat
training_logs/

# Training and output
data/
results/
*.gz

# Other
sources.txt
*.pdf